
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Yeni Kullanıcı Ekleme Sayfası</h3>
<br />
<form method="post" class="form-group">
    <label>Kullanıcı Adı</label>
    <input type="text" name="UserName" class="form-control" placeholder="Kullanıcı adı giriniz" />
    <br />
    <label>Şifre</label>
    <input type="text" name="Password" class="form-control" placeholder="Şifrenizi giriniz" />
    <br />
    
    <br />


    <button class="btn btn-primary">Kaydet</button>
</form>